<button (click)="initNewItem()"> Create New Item </button>

<table>
  <thead>
    <th> DataBase ID </th>
    <th> Name </th>
    <th> Code </th>
    <th> Brand </th>
    <th> Unit Price </th>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.id}}</td>
      <td>{{ item.name}} </td>
      <td>{{ item.code}} </td>
      <td>{{ item.brand}} </td>
      <td>{{ item.unitprice}} </td>
      <td><button (click)="editItem(item)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-item [item]="itemToEdit" (itemsUpdated)="UpdatedItemList($event)"></app-edit-item>